<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#E1306C;">
        <a class="navbar-brand" href="{% url 'home' %}">InstaKenya &#x1F1F0;&#x1F1EA;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'postImage'%}">Post Image <i class="fa fa-picture-o" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'profile' username=user %}">@{{user|title}} <i class="fa fa-user"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
          {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
            <li>
              <a class='btn btn-default' href="/accounts/register">Register</a>
            </li>
            {% endif %}
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </nav>
  <!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">InstaKenya &#x1F1F0;&#x1F1EA;</a>
      </div>

      <div class="col-sm-6 col-md-6 ">
            {% if user.is_authenticated %}
                <ul class="list-inline" style="margin-top: 13px; font-size:25px; ">
                    <li class="list-inline-item"><a href="{%url 'postImage'%}">Post Image</a></li>
                    <li class="list-inline-item"><a  href="{% url 'profile' username=user %}"><i class="fa fa-user">{{user}}</i></a></li>
                    <li class="list-inline-item"><a href="/logout">Logout</a></li>
                </ul>
            {% else %}
                <li>
                <a class='btn btn-default' href="/accounts/login">Login</a>
                </li>
            {% endif %}
          </div>
      Adding a search form  -->
      <!-- <div class="col-sm-4 col-md-4 navbar-left">

        <form class="navbar-form" role="search" action="{% url 'search' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search users" name="users">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
            </div>
          </div>

        </form>
      </div> -->
      <!-- search form end -->
    <!-- </div>
  </nav> --> 
</body>
</html>